html {
    background-color:#212529;
}
.h2 {
    background-color: #212529;
}
nav {
    background-color: #212529;
    padding: 20px;
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Push "Justin Choi" to the right */
    align-items: center; /* Vertically center "Justin Choi" */
}
a {
    display: block; /* Make the <a> tag a block-level element */
    background-color:#212529;
    font-size: 48px;
    padding: 10px; /* Add padding to create space between <a> tags */
    color: white !important;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
    box-shadow: inset 200px 0 0 0 #54b3d6;
}