.link-container a {
    display: block; /* Make the <a> tag a block-level element */
    background-color:transparent;
    font-size: 48px;
    padding: 10px; /* Add padding to create space between <a> tags */
    color: white !important;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.link-container :hover {
    box-shadow: inset 200px 0 0 0 #54b3d6;
}

@keyframes slideFromRight {
    0% {
        transform: translateX(200px);
    }
    100% {
        transform: translateX(0);
    }
}
.description {
    text-align: center;
}
.projects h1 {
    background-color:#212529;
    color: white;
    left: 0;
    right: 0;
    text-align: center;
}
.music h1 {
    background-color:#212529;
    color: white;
    left: 0;
    right: 0;
    text-align: center;
}
html {
    background-color:#212529;
}
.projects .icon-container {
    text-align: right;
    padding-right: 50px;
    padding-bottom: 10px
}

.music .icon-container {
    text-align: right;
    padding-right: 50px;
    padding-bottom: 300px
}
.projects {
    padding-top: 250px;
}
.projects-container {
    background-color:#212529;
    display: flex;
}
.project-container {
    background-color: #212529;
    padding: 10px 10px 10px 10px; /* Adjust padding as needed */
}

.music-container {
    background-color:#212529;
    display: flex;
}
.video-container {
    background-color: #212529;
    padding: 10px 10px 10px 10px; /* Adjust padding as needed */
}
img {
    background-color:#212529;
    width: 100%;
}
.link-container {
    position: relative;
    padding: 100px 10px 100px 10px; /* Adjust padding as needed */
    z-index: 2;
}
nav {
    background-color: #212529;
    padding: 20px;
    display: flex; /* Use flexbox layout */
    justify-content: space-between; /* Push "Justin Choi" to the right */
    align-items: center; /* Vertically center "Justin Choi" */
    z-index: 2 !important;
}
.no-underline {
    text-decoration: none;
}

.projects {
    color: white;
    background-color: #212529;
    padding-bottom: 200px;
    padding-top: 500px;
}
.music {
    color: white;
    background-color: #212529;
    padding-bottom: 100px;
}

#video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%; /* Adjust the width as needed */
    height: 60%; /* Adjust the height as needed */
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container {
    position: relative;
    max-width: 100%; /* Ensure the video doesn't exceed the container width */
    max-height: 100%; /* Ensure the video doesn't exceed the container height */
}


video {
    max-width: 100%;
    max-height: 100%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

/* Yellow color for the Portfolio anchor */
.link-container a[href="#projects"] {
    color: yellow !important;
}

/* Red color for the Resume anchor */
.link-container a[href$="jschoiresume.pdf"] {
    color: red !important;
}

/* Blue color for the Music anchor */
.link-container a[href="#Music"] {
    color: blue !important;
}
.puppiness {
    height: 100%;
    position:absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}